{% extends 'pe/base.html' %}
{% block title %}Elxier/About Us{% endblock title %}
{% block content %}
{% for a in about %}
<div class="jumbotron">
    <h1>Elixier</h1>
    <p> {{ a.intro }}.</p>
</div>
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Elixier</h2><br>
            <h4>{{ a.intro }}</h4><br>
            <p>{{ a.about }}</p> <br><button class="btn btn-default btn-lg">Get in Touch</button>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2><br>
            <h4><strong>MISSION:</strong></h4>
            <h5>{{ a.mission }}</h5><br>
            <h4><strong>VISION:</strong></h4>
            <h5> {{ a.vision }}</h5>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}