<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><p>
  <a href="{% url 'index_page' %}" title="Elixier">{% now "Y" %}© Elixier</a>
  <a href="https://www.facebook.com/Professional-Elixier-102880497772304/" title="Like us on facebook"
    class="fa fa-facebook"></a>
  <a href="https://twitter.com/PElixier" class="fa fa-twitter" title="Follow us on Twitter"></a>
  <a href="#" class="fa fa-linkedin" title="Connect with Elixier on Linkedin"></a>
  <a href="https://www.youtube.com/watch?v=cHBPu397dKA" class="fa fa-youtube" title="View Elixier on Youtube"></a>
  <p>
</footer>