{% extends 'pe/base.html' %}
{% block title %}Elixier/Services{% endblock title %}
{% block content %}
<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row slideanim">
        {% for s in services %}
        <div class="col-sm-4">
            <h4>{{ s.name }}</h4> {% for f in s.servicefield_set.all %}
            <a href={{ f.get_absolute_url }}<p> {{ f.field }}</p></a>
            {% endfor %}
            {% if forloop.counter|divisibleby:3 %}
        </div>
    </div>
    <div class="row slideanim">
        <hr style>
        {% else %}
    </div>
    {% endif %}

    {% endfor %}
</div>

{% endblock content %}

Careers

Our Purpose
Audit & Assurance
Consulting
Risk and Financial Advisory
Tax
Internal Services

Students

Undergraduate
Advanced Degree
Professional Development
Recruiting Process
On Campus

Experienced Professionals

Recruiting Process
Executives
Industries

Job Search

Student Jobs
Experienced Professional Jobs
Recruiting Tips
Explore Your Fit
Labor Condition Applications

Life at Deloitte

Life at Deloitte Blog
Meet Our People
Inclusion
Corporate Citizenship
Leadership Development
Empowered Well-Being
Deloitte University

Alumni Relations

Update Your Information
Events
Career Development Support
Marketplace Jobs Dashboard